<!-- <p>character-list works!</p> -->

<div class="row-container-character-list">
  <!-- ALL characters -->
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
    <div class="card">
      <a [routerLink]="['/character-details', character.id]">
        <div class="container-title-card">
          <h2 style="color: white!important;">{{character.name}}</h2>
        </div>

        <div class="image">
          <img [src]="character.image" [alt]="character.name" class="card-image-top" />
        </div>

        <div class="card-inner">
          <div class="header">
            <h4 class="text-muted">{{ character.gender }}</h4>
            <small class="text-muted">{{ character.created | date }}</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 container-notFound" *ngIf="characters.length < 1">
    <p>No results...</p>
  </div>

  <!-- <button class="btn btn-dark">
    GO UP
  </button> -->

</div>
