.line-container {
  width: 200px;
  height: 20px;
}
.single-line {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  background-color: white;
}

.text-danger {
 background-color: red;
 color: white;
}

.text-success {
  background-color: greenyellow;
}

.text-secundary{
  background-color: rgba(113, 40, 78, 0.486);
  color: white;
}
