<main style="color: gainsboro;  margin: 0 auto;  max-width: 1000px;  min-height: 100vh;  display: grid;">
<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="justify-content-center text-center" style="padding-top: 2em;">

    <app-splash-screen></app-splash-screen>

    <div class="container-title-card">
      <!-- <h1>FOOTER</h1> -->
      <!-- <h3>CONSUMO DE API-REST RICK Y MORTY</h3> -->
      <h3>ANDRES FELIPE REYES *** DEVELOPER FULLSTACK</h3>
    </div>


</div>
</main>
