<!-- <p>header works!</p> -->
<header style="grid-area: '';background-color: blueviolet;">
  <!-- Fixed navbar -->
  <div>
    <img id="image-title-rick-and-morty" src="./assets/images/Rick & Morty 8-Bit Title Loop - Imgur.gif" />
  </div>
  <nav class="top-right open">
    <!-- <a class="disc l1">
      <div>Messages</div>
    </a>
    <a class="disc l2">
      <div>Photos</div>
    </a>
    <a class="disc l3">
      <div>Profile</div>
    </a> -->
    <a class="disc l4">
      <div>
        <!-- <input type="text"> -->
        <app-form-search></app-form-search>
      </div>
    </a>
    <a class="disc l5 toggle" style="color:#252850">
      Buscar
    </a>
  </nav>

</header>
