/* You can add global styles to this file, and also import other style files */

.container{
  margin-top: 4rem;
}

.card {
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  box-sizing: border-box;
  margin: 10px 0;
  background-color: #fff;
  max-width: 529px;
  transition: all 0.2 ease-in-out;
  margin: 0em;
  min-height: 32rem;
  height: auto;
  max-height: 100%;
  /* glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card:hover{
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.24);
  cursor: pointer;
  width: 105%;
}

img {
  opacity: 0.7;
  width: 100%;
  transition: opacity 0.7;
}

img:hover {
  opacity: 1;
}

.card-inner {
  padding: 10px;
}
/* estilos propios */
body {
  /* background-image: url('/assets/images/fondo-pantalla-abstracto-nebulosa-ultra-detallado-4.jpg') !important; */
  background-image: url('/assets/images/south-pole-wall-pared-galaxias-tamano-anos-luz.webp') !important;
  /* background-position: center;
  background-repeat: no-repeat; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  /* background-size: 10%;
  min-height: 100%; */
  /* background-repeat: repeat;
  background-position: 10px 30px; */
}

.image-title-rick-and-morty{
 width: 80%;
 height: 20em;
}

.text-center{
  text-align: center;
}

.justifity-content-center{
    display: flex;
    justify-content: center;
}

ul {
  justify-content: center;
  display: flex;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style-type: none;
}

.current{
  background-color: #fff;
}

ul>li{
  cursor: pointer;
  /* text-decoration:underline; */
  color: #ff7a39;
  padding: 1em;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-options-xtreme{
  background: rgba(248, 2, 117, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.row-container-character-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.container-title-card{
  text-align: center;
  background: rgba(8, 12, 240, 0.473);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 16px 16px 0px 0px;
}

/* Paginate */
.ngx-pagination{
  /* background: white; */
  /* text-align: center;
  background: rgba(8, 12, 240, 0.473);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 16px 16px 0px 0px; */
}

li:hover{
  /* background-color: white; */
  background: rgba(0, 228, 253, 0.728);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* nav[role="navigation"]{
  display: flex;
  position: relative!important;
  height: 100%!important;
  transform: none;
  width: 20em;
  justify-content: center;
} */


/* estilos menu */
/* @import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900"); */
/* @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap'); */

html, body {
  height: 100%;
}

body {
  background: beige;
  /* font-family: Alegreya Sans, sans-serif; */
  /* font-family: Bangers, sans-serif; */
   /* font-family: 'Open Sans', sans-serif; */
   /* font-family: Gloria Hallelujah, cursive!important; */
}

h2{
  /* font-family: 'Bangers', cursive!important; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Gloria Hallelujah'; */
  /* font-family: Gloria Hallelujah, cursive!important; */
}

/* *{
  font-family: 'Tektur';
} */

a:link { text-decoration:none; } a:visited { text-decoration:none; }


nav {
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
  transform: translate3d(0, 0, 0);
}
nav.top-right {
  top: -140px;
  right: -140px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 250px;
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
}
.disc div {
  transform: rotate(180deg);
}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: tomato;
  transition-delay: 0s;
}
.open .l1 {
  transition-delay: 0s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: shade(tomato, 90%);
  color: tomato;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(tomato, 50%);
  color: tomato;
}
.open .l1.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #ff7a39;
  transition-delay: 0.1s;
}
.open .l2 {
  transition-delay: 0.1s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: shade(#ff7a39, 90%);
  color: #ff7a39;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(#ff7a39, 50%);
  color: #ff7a39;
}
.open .l2.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #ff912b;
  transition-delay: 0.2s;
}
.open .l3 {
  transition-delay: 0.2s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: shade(#ff912b, 90%);
  color: #ff912b;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(#ff912b, 50%);
  color: #ff912b;
}
.open .l3.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #ffa91c;
  transition-delay: 0.3s;
}
.open .l4 {
  transition-delay: 0.3s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: shade(#ffa91c, 90%);
  color: #ffa91c;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(#ffa91c, 50%);
  color: #ffa91c;
}
.open .l4.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #ffc00e;
  transition-delay: 0.4s;
}
.open .l5 {
  transition-delay: 0.4s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l5:hover {
  background: shade(#ffc00e, 90%);
  color: #ffc00e;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(#ffc00e, 50%);
  color: #ffc00e;
}
.open .l5.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: gold;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;
}
.open .toggle {
  transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
  background: shade(gold, 90%);
  text-decoration: underline;
}
.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  transform: scale(0.9);
  transition-duration: 0s;
}
